first-api/src/main/mule/first-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d0acdea1-bc33-440f-9375-0028e4fe412d" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="first-apiFlow" doc:id="7050356e-46ea-4e0e-ba06-6ce4cac09d87" >
		<http:listener doc:name="Listener" doc:id="139c0a4a-dd20-40f2-ac2f-8c46ec60e49e" config-ref="HTTP_Listener_config" path="/First" allowedMethods="GET,POST">
			<http:response >
				<http:body ><![CDATA[#["this new program"]]]></http:body>
			</http:response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="8ff7c2bb-bedb-4520-8b9d-1d7b38cd1cd1" message="hey i started learning mule development "/>
	</flow>
</mule>
